.Menu{
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;

}

.MenuButton {
    padding: 10px;
    background-color: rgb(252, 236, 213);
    color: black;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(rgb(255, 247, 203), rgb(143, 0, 19) ) 1;
}